<hr>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          <h3><i class="fa fa-lock fa-4x"></i></h3>
                          <h2 class="text-center">Forgot Password?</h2>
                          <p>You can reset your password here.</p>
                            <div class="panel-body">
                                
                              <form   role="form">
                                <legend>Enter registered email</legend>
                              
                                <div  class="form-group">
                                  <label for="email">Email</label>
                                  <input [(ngModel)]="name" style="width: 300px;" type="text" class="form-control" name="email_id" id="email_id" placeholder="xyz@mail.com">
                                </div>
                              
                                <button type="button"  (click)="generateOtp()" class="btn btn-primary">Get OTP</button>
                              
                               <!-- <div style="color:red;">{{msg}}</div> -->
                              




                               
                              
                              </form>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>