
<br>
<br>
<br>
<div class="jumbotron text-center">
    <h1>My Leaves</h1> 
  </div>
<br>
<div class="listofemp" style="background-color: black;  opacity: 0.7;max-width:600px;margin:auto;">
    <div class="col-md4" >
          <legend style="color: azure;">Select Employee</legend>
          <button type="button" class="button" routerLink="/applyleave" class="btn btn-warning">Apply Leave</button>&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
<table class="table  table-hover table-condensed" style="border: darkturquoise; width: 50%; margin: auto;">
  <thead>
    <tr>
      <th>Id</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>LeaveType</th>
      <th>Reason</th>
      <th>No Of Days</th>
      <th>Active/Deactive</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uleave of uleaves">
      <td>{{uleave.id}}</td>
      <td>{{uleave.fromDate}}</td>
      <td>{{uleave.toDate}}</td>
      <td>{{uleave.leaveType}}</td>
      <td>{{uleave.reason}}</td>
      <td>{{uleave.duration}}</td>
      <td>{{uleave.active}}</td>
      <td>{{uleave.status}}</td>
    </tr>  
  </tbody>
</table>

    </div>
    </div>
    <br>
    <br>